*.mp4
models/
data/
outputs/
.cache/
.nv/
__pycache__/
*.pth
*.onnx
*.bin
.gemini/
.lightning_studio/
.vscode/
.npm/
.ipython/
.cursor-server/
.windsurf-server/
.vscode-server/
.ollama/
.idea/
*.log
pipeline.log
